*{
    box-sizing: border-box;
}

body{
    height: 60vh;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #c14f4f;
    padding: 2em 0 2em 0;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    background-color: #C28282;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
    
}

main{
    background-color: #699EBD;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

.right{
    background-color: #C28282;
    padding: 2em 0 2em 0;
    flex: 1 1 100px;
    
}

footer{
    background-color: #c14f4f;
    padding: 1em 0 1em 0
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}